/* message to get the admin password */

@keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .marquee-container {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .marquee-text {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;  /* Adjusted for smoother scrolling */
  }
  


/* added job categoreies to move from left to right */
@keyframes carousel-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel-marquee {
  display: flex;
  gap: 20px; /* Adds spacing between items */
  animation: carousel-scroll 10s linear infinite; /* Runs the animation */
}



